@import "reset"
@import "variables"

html
  font-size: 16px
  background-color: $bgc
  *
    color: $dark-main
    font-family: $font-main


.wrapper
  width: $max-width
  margin: auto

header
  display: flex
  flex-direction: column

.banner
  width: $max-width
  height: $max-width/2
  background-color: $dark-main
  border-radius: 26px


