{{define "index"}}
    {{template "header" .Header}}
        <main class="pageContent">
            <section class="banner">
                <h1>Лидер разработки ПО по версии основателя</h1>
                <a class="link-with-arrow" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 16">
                        <path class="shaft" stroke-width="2" d="M 0 8 H 72"></path>
                        <path class="end" fill="none" stroke-width="2" d="M 63 15 l 8-7-8-7"></path>
                    </svg>Посмотреть каталог
                </a>
            </section>
        </main>
    {{template "footer" }}
{{end}}